
<div class="main-container">

  <div class="service-wrapper">
    <div class="service-count mt-3">
      <h2 class = "m-auto">(<%= @services.count %>) Services available</h2>
    </div>
    <div class="service-filter">
      <%= form_with url: services_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a service"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%=  @markers.to_json %>"
      data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>

  </div>


    <div class = "cards-wrapper">
      <div class="cards">
        <% @services.each do |service| %>
          <div class="card" data-bs-toggle="modal" data-bs-target="#myModal_<%=service.id%>">
            <%# <%= link_to service_path(service) do %>
              <div class="card-header">
                <% if service.user.photo.key %>
                  <%= cl_image_tag service.user.photo.key, class: "dropdown-toggle navbar-img", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, :gravity=>"face", :height=>64, :width=>64, :crop=>"thumb"%>
                <% else %>
                  <%= image_tag "default_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
                <h5><%= service.user.first_name %></h6>
                <div class="price-container d-flex">
                  <i class="fa-solid fa-yen-sign"></i> <h6><%= service.price %>/hour</h6>
                </div>
              </div>
              <h6 class="card-title"><%= service.name %></h6>
              <div class="cleaner-stats">
                <div class="cleaner-stats-item br">
                    <h6>Ratings</h6>
                    <div class="review-wrapper d-flex">
                      <i class="fa-solid fa-star"></i>
                      <h6> 5</h6>
                    </div>
                </div>
                <div class="cleaner-stats-item">
                  <h6>Cleanings</h6>
                  <h6>100</h6>
                </div>
                <div class="cleaner-stats-item bl">
                  <h6>Experience</h6>
                  <h6>1 - 3 years</h6>
                </div>
              </div>
            <%# <% end %>
          </div>

          <div class="modal fade" id="myModal_<%=service.id%>" tabindex="-1" aria-labelledby="myModal_<%=service.id%>Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="myModal_<%=service.id%>Label"><%= service.name %>  <i class="fa-solid fa-yen-sign"></i> <%= service.price %>/hour</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-around">
                  <div class="cleaner-wrapper" >
                    <div class="full-name">
                      <%= service.user.first_name%> <%=service.user.last_name %>
                    </div>
                    <div class="cleaner-stats">
                      <div class="cleaner-stats-item">
                          <h6>Ratings</h6>
                          <div class="review-wrapper d-flex">
                            <i class="fa-solid fa-star"></i>
                            <h6> 5</h6>
                          </div>
                      </div>
                      <div class="cleaner-stats-item">
                        <h6>Cleanings</h6>
                        <h6>100</h6>
                      </div>
                      <div class="cleaner-stats-item">
                        <h6>Experience</h6>
                        <h6>1 - 3 years</h6>
                      </div>
                    </div>
                    <h6>About me: <%= service.description %></h6>
                    <h6><i class="fa-solid fa-phone"></i> <%= service.user.phone_number%></h6>
                    <h6><%= service.user.address%></h6>
                  </div>
                  <div class="service-wrapper">
                    <div class="service-header d-flex">

                    </div>
                    <%= service.description %>
                  </div>
                </div>
                <div class="modal-footer">
                <%= link_to "Book now", new_service_booking_path(service), class: "btn btn-flat mt-3" %>
                </div>
              </div>
            </div>
        </div>

        <% end %>
      </div>
    </div>

</div>
