

<div class="main-container">

  <div class="service-wrapper">
    <div class="service-count mt-3">
      <h2 class = "m-auto">(<%= @services.count %>) Services available</h2>
    </div>
    <div class="service-filter">
      <%= form_with url: services_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a service"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

    <div class = "cards-wrapper">
      <div class="cards">
        <% @services.each do |service| %>
          <%# <%= link_to service_path(service) do %>
            <div class="card">
              <div class="card-header">
                <%= image_tag "photo.jpg", class:"service-img"%>
                <h5><%= service.user.first_name %></h6>
                <div class="price-container d-flex">
                  <i class="fa-solid fa-dollar-sign"></i> <h6><%= service.price %>/hour</h6>
                </div>
              </div>
              <h6 class="card-title"><%= service.name %></h6>
              <div class="cleaner-stats">
                <div class="cleaner-stats-item br">
                    <h6>Ratings</h6>
                    <div class="review-wrapper d-flex">
                      <i class="fa-solid fa-star"></i>
                      <h6> 5</h6>
                    </div>
                </div>
                <div class="cleaner-stats-item">
                  <h6>Cleanings</h6>
                  <h6>100</h6>
                </div>
                <div class="cleaner-stats-item bl">
                  <h6>Experience</h6>
                  <h6>1 - 3 years</h6>
                </div>
              </div>
              <div class="button-wrapper">
                <%= link_to "Reviews", new_service_booking_path(service), class: "btn btn-flat mt-3" %>
                <%= link_to "Book now", new_service_booking_path(service), class: "btn btn-flat mt-3" %>
              </div>
            </div>
          <%# <% end %>
        <% end %>
      </div>
    </div>

</div>
