<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-4" href="#">Souji Center</a>
</nav>
<h2 class = "ps-4">(<%= @services.count %>) Cleaners avaliable</h2>

<div class="contrainer">
  <div class="row d-flex justify-content-center">

    <% @services.each do |service| %>
      <div class="card m-1 p-1" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title"><%= service.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= service.description %></h6>
      <p class="card-text">
        <i class="fa-solid fa-user-group"></i>
        <%= service.category %>
        <i class="fa-solid fa-dollar-sign"></i>
        <%= service.price %>
        </p>
      <%= link_to "More info", service_path(service) %>
  </div>
</div>
<% end %>
  </div>
</div>
