<div class="container">
  <div class="row">
    <div class="col-6">
    <div class="left-half service mt-5"></div>
    </div>
    <div class="col-6 mt-5 right-half">
      <div class="container mt-5" id="center">
        <h3>Describe your service</h3>
        <%= simple_form_for [@service] do |f| %>
          <%= f.input :name, label: "Name of the Service" %>
          <%= f.input :description, label: "Description" %>
          <%= f.input :price, label: "Hourly rate" %>
          <div class="container d-flex justify-content-evenly">
          <%= f.button :submit, 'Post this service', class: 'btn btn-flat mt-3' %>
          <%= link_to "Back to home", root_path, class: "btn btn-flat white mt-3" %>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>
