
<div class="container">
  <div class="card mb-5 p-1" style="width: 48rem;">
    <div class="card-body">
      <h1 class="card-title"><strong><%= @service.name %></strong></h1>
      <h3 class="card-title"><%= @service.user.first_name %> <%= @service.user.last_name %></h3>
      <br>
      <h3><strong>A bit more about this service...</strong></h3>
      <p class="card-text"><%= @service.description %></p>
      <br>
      <h3> <strong>Details</strong></h3>
      <p class="card-text">
      <h5>Price: <%= @service.price %><i class="fa-solid fa-dollar-sign"></i></h5>
      </p>
    </div>
  </div>
</div>
