
<div class="container mt-4">
<h1 class="centered">My bookings</h1>
  <% @user_bookings.each do |booking| %>
    <div class="card-booking">
      <%= cl_image_tag booking.service.user.photo.key %>
      <div class="card-booking-infos">
        <h2><%= booking.service.user.first_name %></h2>
        <p><em>"<%= booking.service.description %>"</em></p>
        <p><strong>Date: </strong><%= booking.start_date %></p>
        <p><strong>Time: </strong><%= booking.start_time.strftime('%l:%M %p') %> - <%= booking.end_time.strftime('%l:%M %p') %></p>
        <p><strong>Price: ¥</strong><%= booking.service.price %>/hour</p>
        <p><strong>Status: </strong><%= booking.status %></p>
        </div>
      </div>
  <% end %>
</div>
</em>
