<div class="container">
  <div class="row">
    <div class="col-6" id="leftHalf">
    </div>
    <div class="col-6" id="rightHalf">
      <div class="container mt-5" id="center">
        <h3><%= @service.name %> by <%= @service.user.first_name %></h3>
        <p class="mb-4">Hourly rate: $<%= @service.price %></p>
        <%= simple_form_for [@service, @booking] do |f| %>
          <%= f.input :start_date, label: "Select a date" %>
          <%= f.input :start_time %>
          <%= f.input :end_date, label: "End time" %>
          <div class="container d-flex justify-content-evenly">
          <%= f.button :submit, 'Book this service', class: 'btn btn-flat mt-3' %>
          <%= link_to "See other options", services_path, class: "btn btn-flat white mt-3" %>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>
