<div class="container mt-4">
<h2 class="centered">Book <%= @service.name %> by <%= @service.user.first_name %></h2>
<h4 class="centered">Hourly rate: <i class="fa-solid fa-dollar-sign"></i><%= @service.price %></h4>
<%= simple_form_for [@service, @booking] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.button :submit, { class: 'btn btn-flat mt-3' } %>
  <%= link_to "See other services", services_path, class: "btn btn-flat white mt-3" %>
</div>
<% end %>
