<div class="container mt-4">
  <% @cleaner_bookings.each do |booking| %>
    <div class="bookings">
      <%= cl_image_tag booking.user.photo.key %>
      <div class="booking-infos">
        <h2><%= booking.user.first_name %></h2>
        <p> <%= booking.start_date %></p>
        <p><%= booking.start_time.strftime('%l:%M %p') %> - <%= booking.end_time.strftime('%l:%M %p') %></p>
      </div>
      <div class="booking-actions">
            <% if booking.pending? %>
              <%= simple_form_for booking do |f| %>
                <% if policy(Booking).update? %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'approved' } %>
                  <%= f.submit 'Accept', method: :patch, class: 'btn btn-info' %>
                <% end %>
              <% end %>
              <%= simple_form_for booking do |f| %>
                <% if policy(Booking).update? %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
                  <%= f.submit 'Reject', method: :patch, class: 'btn btn-light' %>
                <% end %>
              <% end %>
            <% else %>
              <p class='booking-tag'><%= booking.status %></p>
            <% end %>
          </div>
    </div>
  <% end %>
</div>
