<div class="container mt-4">
<h3>Your customers</h3>
<% @cleaner_bookings.each do |b|%>
<div class="card">
 <h5 class="card-title mb-3 purple">Booking ID: <%= b.id %></h5>
<% if b.user.first_name && b.user.last_name %>
<p class="card-text mt-3"><%= b.user.first_name b.user.last_name %></p>
<% else %>
<p class="card-text">The name is unknown</p>
<% end %>
<p class="card-text">Date: <%= b.start_date %></p>
<p class="card-text">Time: from <%= b.start_time.to_formatted_s(:time) %> till <%= b.end_time.to_formatted_s(:time)  %></p>
<p>
  <%= link_to 'Accept', approve_cleaner_booking_path(b), class: "btn btn-flat", method: :post %>
</p>
<% end %>
</div>
</div>
